<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
  bootstrap="../vendor/autoload.php"
  printerFile="../vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
  printerClass="NyanCat\PHPunit\ResultPrinter">
  <logging>
      <log type="coverage-html" target="reports" />
  </logging>
  <testsuites>
    <testsuite name="unit">
       <file>LieMapperTest.php</file>
       <file>UserMapperTest.php</file>
    </testsuite> 
    <testsuite name="integration">
       <file>LieMapperIntegrationTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
